* {
    font-family: sans-serif;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

.card {
    display: none;
    flex: 1;
}

body.loggedin > .card.loggedin,
body.login > .card.login,
body.register > .card.register,
body.addquest > .card.addquest,
body.editquest > .card.editquest,
body.addfriend > .card.addfriend,
body.editfriend > .card.editfriend,
body.playerquestdetails > .card.playerquestdetails
{
    display: block;
}

.errormessage {
    display: none;
}

.tab {
    display: none;
}

.card.playerquests .tab.playerquests, .card.friends .tab.friends, .card.quests .tab.quests {
    display: block;
}

.card.quests button.quests, .card.friends button.friends {
    font-weight: bold;
}

.card.quests button.hideinvisible, .card.quests.showinvisible button.showinvisible {
    display: none;
}

.card.quests.showinvisible button.hideinvisible {
    display: block;
}

/* Quest difficulty colors */
.card.quests .list .quest { padding-left: 18px; margin-left: 18px; background-repeat: no-repeat; background-position-x: left; }
.card.quests .list .effort5 { color: #00e000; }
.card.quests .list .effort30 { color: #f0f000; }
.card.quests .list .effort60 { color: #f08000; }
.card.quests .list .effort240 { color: #f00000; }
.card.quests .list .effort1440 { color: #a335ee; }
.card.quests .list .invisible { color: #9D9D9D; }
.card.quests .list .complete { background-image: url(./icons/questionyellow.png); }

.card.friends .list .pending { color: #f0f000; }
.card.friends .list .incoming { color: #f00000; }
.card.friends .list .accepted { color: #00e000; }

.card.playerquests .list .quest { padding-left: 18px; margin-left: 18px; background-repeat: no-repeat; background-position-x: left; }
.card.playerquests .list .pending { background-image: url(./icons/asteriskyellow.png); }
.card.playerquests .list .running { background-image: url(./icons/questiongrey.png); }
.card.playerquests .list .complete { background-image: url(./icons/questionblue.png); }
.card.playerquests .list .validated { background-image: url(./icons/questionyellow.png); }
.card.playerquests .list .effort5 { color: #00e000; }
.card.playerquests .list .effort30 { color: #f0f000; }
.card.playerquests .list .effort60 { color: #f08000; }
.card.playerquests .list .effort240 { color: #f00000; }
.card.playerquests .list .effort1440 { color: #a335ee; }

.list .quest {
    cursor: pointer;
}

.list .quest:hover {
    background-color: aqua;
}

.list .topic .title { cursor: pointer; padding-left: 18px; background-repeat: no-repeat; background-position-x: left; background-image: url(./icons/minus.png); }
.list .topic.closed .title { background-image: url(./icons/plus.png); }

.list .topic.closed .quest { display: none; }