* {
    font-family: sans-serif;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: 16pt;
}

div.forms {
    padding: 8px;
}

#output {
    padding: 8px;
    flex: 1;
    overflow: auto;
}

pre {
    font-family: monospace;
    font-size: 8pt;
}